<app-header titulo= "Aprende a Reciclar y Puntos Verdes"></app-header>


<ion-content class="ion-padding" fullscreen>

  <ion-card color="madera">
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Reciclaje</ion-card-subtitle>
      <ion-card-title class="titulo">Que es el Reciclaje</ion-card-title>
    </ion-card-header>

    <ion-card class="ion-padding">
      <img src="assets/img/reciclaje.png">
    </ion-card>

    <ion-card-content  class="ion-padding contenido" class="justificado">
      El reciclaje es el proceso de recolección y transformación de materiales para 
      convertirlos en nuevos productos, y que de otro modo serían desechados como basura.
    </ion-card-content>

    <ion-item color="madera" href="https://www.bbva.com/es/sostenibilidad/que-es-el-reciclaje-y-por-que-es-importante-reciclar/" target="_blank">
      <ion-icon name="bulb-outline" slot="start"></ion-icon>
      <ion-label>Más info sobre el Reciclaje</ion-label>
    </ion-item>
    <ion-item color="madera">
      <ion-button shape="round" color="success" slot="end">Reciclaje</ion-button>
    </ion-item>
  </ion-card>

  <ion-card color="madera">
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Reciclaje</ion-card-subtitle>
      <ion-card-title class="titulo">Tipos de Reciclajes</ion-card-title>
    </ion-card-header>

    <ion-card class="ion-padding">
      <img src="assets/img/tipo_reciclaje.png">
    </ion-card>

    <ion-card-content  class="ion-padding contenido" class="justificado">
      Cuando los desechos generados se procesan y se transforman, podemos obtener materias primas, las cuales serán utilizadas 
      en nuevos procesos de fabricación. De esta forma, el reciclaje contribuye a eliminar los residuos generados,
       a ahorrar en los procesos industriales y a reducir la explotación de los recursos naturales.
    </ion-card-content>

    <ion-item color="madera" href="https://recicladoslatrinchera.com/tipos-de-reciclaje-y-en-que-consisten/" target="_blank">
      <ion-icon name="ellipsis-horizontal-outline" slot="start"></ion-icon>
      <ion-label>Más info sobre los tipos de Reciclajes</ion-label>
    </ion-item>
    <ion-item color="madera">
      <ion-button shape="round" color="success" slot="end">Ver Tipos</ion-button>
    </ion-item>
  </ion-card>

  <ion-card color="madera">
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Reciclaje</ion-card-subtitle>
      <ion-card-title class="titulo">Beneficios del Reciclaje</ion-card-title>
    </ion-card-header>

    <ion-card class="ion-padding">
      <img src="assets/img/beneficio_reciclaje.png">
    </ion-card>

    <ion-card-content  class="ion-padding contenido" class="justificado">
      De los principales beneficios de reciclar son ahorrar energía, evitar la explotación de los recursos naturales,
      se evitan los métodos de extracción de recursos naturales, reduce la contaminación,
      reducir la cantidad de desechos sólidos que llegan a los vertederos y 
      permite alargar la vida útil de los vertederos
    </ion-card-content>

    <ion-item color="madera" href="http://www.lineaverdehuelva.com/lv/consejos-ambientales/reciclaje/Beneficios-del-reciclaje.asp#" target="_blank">
      <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
      <ion-label>Más info sobre los beneficios</ion-label>
    </ion-item>
    <ion-item color="madera">
      <ion-button shape="round" color="success" slot="end">Beneficios</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
