.subtitulo{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
}



.styleSub{
    background-color: #e9ecef;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}