<app-header titulo= "Noticias del Mundo"></app-header>

<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                  *ngFor ="let noticia of noticias; let i= index">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>
                    <span class="text">{{i + 1 }}.</span>
                    <span class="noticia-name">{{noticia.source.name}} </span>
                    <div class="noticia-more">
                        <ion-button fill="clear"
                                    (click)="lanzarMenu()">
                          <ion-icon slot= "icon-only"
                                    name="ellipsis-vertical-outline"
                                    color="success"></ion-icon>
                        </ion-button>
                    </div>
                </ion-card-subtitle>
                <ion-card-title (click) = "abrirNoticia()">{{noticia.title}}</ion-card-title>
              </ion-card-header>    
              
              <ion-img  *ngIf="noticia.urlToImage"
                        (click) = "abrirNoticia()"
                        [src]="noticia.urlToImage"></ion-img>   
              
              <ion-card-content>
                <p class="noticia-description">
                  {{noticia.description}}
                </p>
              </ion-card-content>          
            </ion-card>
        </ion-col>  
      </ion-row>
    </ion-grid>
</ion-content>
